*.apk
*.ap_
*.dex
*.class
bin/
gen/
obj/
*.o
local.properties
.classpath
.project
proguard/
*.iml
*.ipr
*.iws
.idea/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/libs/armeabi/*
/libs/armeabi-v7a/*
.idea/workspace.xml
.idea/tasks.xml
.gradle
/out
/build
/production
*~
*.swp
keys/
signing.properties
*.jks
signing.tar
mapping.zip
.settings
